@import "../../../styles/utlis.scss";

.wrapper {
  header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    
  }
  .content {
    width: 1200px;
    margin:0 auto;
    &.has-header {
      padding: 3.2rem;
    }
    &.responsive{
      @include responsive();
      padding-left: 2rem;
      padding-right: 1rem;
    }
  }
}
