@import "../../../styles/utlis.scss";

.wrapper {
  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
  }
  .content {
    width: 1200px;
    background-color: #fff;
    padding: 1rem 2rem;
    margin:0 auto;
    &.has-header {
      padding-top: 3.2rem;
    }
  }
}
