@import "../../../styles/utlis.scss";

.wrapper {
  header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    
  }
  .content {
 
    &.padding {
      padding-top: 3.2rem;
      width: 75%;
    }
    &.responsive{
      @include responsive();
    }
  }
}
