@import '../../../styles/utlis.scss';

.block{
    padding: 0;
    font-family: "Goldman",cursive;
    letter-spacing: 3px;
    h1{
        color: #fff;    
    }
    &.center{
        text-align: center;
    }
    &.shadow{
        @include material-shadow(3);
    }
}